.menu_container {
    margin-left: 20%;
    padding-top: 6%;
    width: 100%;
    height: auto; /* или удалить вообще */
}

  

  .menu_content {
    margin-left: 10%;
  }

  .menu_icons {
    width: 140px;
    border-radius: 8px;
  }


  .menu_category_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15%;
  }

  .menu_category_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .menu_text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    width: 100%;
  }

  .menu_price {
    font-size: 19px;
    color: rgb(255, 255, 255);
  }

  .menu_wrap {
    width: 180px;
    height: 270px;
    background-color: rgb(193, 193, 193);
    border-radius: 120px;
  }

  .text_wrap {
    padding-top: 18%;
    transition: transform 0.25s ease;

    
  }

  .text_wrap:hover {
    cursor: pointer;
    animation: pulse 0.6s ease forwards;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.06);
    }

    100% {
      transform: scale(1.03);
    }
  }