* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SamsungOne', arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu_container {
    max-width: 1400px;
    margin: 0 auto;
}

.left_side_bar {
    position: fixed;
    top: 4.15rem;
    background-color: gainsboro;
    height: 100vh;
    width: 20%;
    padding-top: 6rem;
    padding-left: 2rem;
    left: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateX(0);
    opacity: 1;
}

.left_side_bar.hidden {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}

.side_bar_item {
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 10px;
    width: 15rem;
    border-radius: 20px;
}


.side_bar_item a {
    display: block;
}


.side_bar_item:hover {
    background-color: gray;
    color: white;
}